<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Information and Folder Selection</title>
</head>

<body>
    <h1>File Information</h1>
    <form action="/moveFile" method="POST" id="fileInfoForm">
        <div>
            <label for="fileName">File Name:</label>
            <input type="text" id="fileName" name="fileName" value="<%= fileInfo.name %>" readonly>
        </div>
        <div>
            <label for="fileType">File Type:</label>
            <input type="text" id="fileType" name="fileType" value="<%= fileInfo.type %>" readonly>
        </div>
        <div>
            <label for="fileSize">File Size:</label>
            <input type="text" id="fileSize" name="fileSize" value="<%= fileInfo.size %> bytes" readonly>
        </div>
        <div>
            <label for="Uploaded at">Uploaded at:</label>
            <input type="datetime-local" id="uploadedAt" name="uploadedAt">
        </div>
        <div>
            <label for="originDate">Origin Date:</label>
            <input type="datetime-local" id="originDate" name="originDate" value="<%= fileInfo.originDate %>">
        </div>
        <div>
            <label for="folder">Select Folder:</label>
            <select id="folder" name="folder">
                <% folders.forEach(folder=> { %>
                    <option value="<%= folder.name %>">
                        <%= folder.name %>
                    </option>
                    <% }); %>
            </select>
        </div>
        <button type="submit">Move File</button>
    </form>

    <script>
        // Get the current date and format it as YYYY-MM-DDTHH:MM
        const currentDate = new Date();
        const formattedDate = currentDate.toISOString().slice(0, 16); // Format the date as YYYY-MM-DDTHH:MM

        // Set the value of the uploadedAt input to the formatted date
        document.getElementById('uploadedAt').value = formattedDate;

        // Set the value of the originDate input to the date from fileInfo.originDate
        const originDateValue = '<%= fileInfo.originDate %>';
        document.getElementById('originDate').value = originDateValue;
    </script>
</body>

</html>